{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Accueil
{% endblock %}

{% block content %}
	<main class="container-fluid">
		<h1>Gervais Sport</h1>
		{% if user is not null %}
			Welcome
			{{ user.email }}
		{% else %}
			Non connecté
		{% endif %}
	</main>
{% endblock %}
