{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block content %}
    <main class="container-fluid">
        <h1>Gervais Sport</h1>
    </main>
{% endblock %}
