@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --primary: 228, 1, 35;
    --secondary: 22, 119, 219;
    --intermediate: #9B9495;
    --dark: 20, 0, 3;
    --light: 255, 252, 253;

    --bs-primary-rgb: var(--primary);
    --bs-primary: rgb(var(--bs-primary-rgb));
    --bs-secondary-rgb: var(--secondary);
    --bs-secondary: rgb(var(--bs-secondary-rgb));
    --bs-light-rgb: var(--light);
    --bs-light: rgb(var(--bs-light-rgb));
    --bs-dark-rgb: var(--dark);
    --bs-dark: rgb(var(--bs-dark-rgb));

    --title-font: 'K2D', sans-serif;
    --text-font: 'Roboto', sans-serif;
    --text-size: 1.2rem;
}

body {
    color: var(--dark);
    font-family: var(--text-font);
    font-size: var(--text-size);
}

h1,
h2,
h3 {
    font-family: var(--title-font);
    color: var(--bs-primary);
}

.btn-primary {
    background-color: var(--bs-primary);
}

.alert:empty {
    display: none;
}